body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #fafafa;
}

html {
  scroll-behavior: smooth;
}

.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #6528e0;
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #511bbc;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.text-primary {
  color: #5c40cc !important;
}

.btn-light {
  /* --bs -btn-hover-border-color:  #5c40cc !important; */
  --bs-btn-active-border-color: #6528e0;
  --bs-btn-hover-border-color: #5c40cc !important;
}

.bg-primary {
  background-color: #5c40cc !important;
}

.border-primary {
  border-color: #5c40cc !important;
}

#download {
  background-color: #5c40cc !important;
  height: 100%;
  padding: 200px 0;
}

#icon {
  background-color: #fafafa;
}

#why-choose .card:hover {
  transform: scale(1.04);
  background-color: #6528e0;
  color: white; /* Mengubah warna teks agar lebih kontras */
}

.card-header {
  background-color: transparent;
}

/* Infinity Scroll */

:root {
  --shade1: #fafafa;
  --shade2: #fafafa;
  --primaryColor: var(--shade2);
  --backgroundColor: #fafafa;
  --backgroundColorDark: var(--primaryColor);
  --size: 300px;
  --gap: 20px;
  --cardShadow: 0 4px 7px rgb(0 0 0 / 25%);
  --paddingNormal: 120px;
  --paddingSmall: 42px;
  --textColor: var(--shade2);
  --textColorDark: #fff;
  --linkColor: #06c;
  --gradient1: radial-gradient(
    164.75% 100% at 50% 0,
    var(--shade1) 0,
    var(--shade2) 48.73%
  );
}

* {
  box-sizing: border-box;
}

.lockup {
  padding: 0 16px;
}

.lockup .avatar {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  user-select: none;
  pointer-events: none;
}

.lockup .avatar img {
  width: 100%;
  height: 100%;
  display: block;
}

.blurb {
  font-weight: 100;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

.marquees__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: var(--maxWidth);
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    var(--backgroundColorDark) 20%,
    var(--backgroundColorDark) 80%,
    hsl(0 0% 0% / 0)
  );
  background: var(--gradient1);
}

.marquee {
  position: relative;
  display: flex;
  gap: var(--gap);
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var(--gap);
  min-width: 100%;
}

.marquee__group .item {
  width: 378px;
  height: 212px;
  overflow: hidden;
  transition: 300ms ease-in-out;
  background: var(--gradient1);
}

.marquee:hover .item {
  opacity: 0.5;
}

.item:hover {
  opacity: 1 !important;
}

.item:hover img {
  scale: 1 1.03;
}

.item img {
  width: 50px;
  height: 50px;
  display: block;
  transition: 300ms ease-in-out;
  scale: 1.03;
}

@media (max-width: 900px) {
  :root {
    --gap: 10px;
  }

  .marquee .item {
    width: 210px;
    height: 118px;
  }
}

#location .card {
    height: 450px;
}